{% load static %}
{% load django_bootstrap5 %}
{% static 'icones/user_edit.png' as editar_url %}
{% static 'icones/senha.png' as senha_url %}
{% static 'icones/news.png' as news_url %}
{% static 'icones/editor.png' as editor_url %}
{% static 'icones/logout.png' as logout_url %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTE DEPLOY </title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="bg-body-primary " data-bs-theme="dark">


    <div class="dropdown ms-auto px-4 pt-3">
        <button class="btn btn-outline-info dropdown-toggle  " type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
        </button>
        <ul class="dropdown-menu  ">

            <li class="dropdown-item d-flex "><img src="{{ senha_url}}" width="20" height="20" class="mt-1" />
                <button class="dropdown-item text-info" type="button">Trocar senha</button>
            </li>


            <li class="dropdown-item d-flex "><img src="{{ news_url}}" width="20" height="20" class="mt-1" />
                <button class="dropdown-item text-info">Minhas noticias</button>
            </li>



            <li class="dropdown-item d-flex "><img src="{{editor_url}}" width="20" height="20" class="mt-1" />
                <button class="dropdown-item text-info" type="button">Publicar</button>

            </li>

        </ul>

    </div>

    <div>
        <img src="/media/testedeply.png" alt="" class="w-100 rounded">
    </div>


    <div>

        {% block content %}{% endblock %}

    </div>

</body>

</html>
